body{
    margin: 0;
    background: cadetblue;
    padding: 2% 5%;
    font: 18px Arial;
}

*{
    box-sizing: border-box;
}

h2{
    color: darkblue;
    
}

.flex-container {    
    padding: 10px;
    background: antiquewhite;
    border-radius: 5px;
    margin: 45px auto;
    display: flex;
    flex-wrap: wrap;
}

.flex-element{
    color: darkblue;
    padding: 15px;
    margin: 5px;
    background: cadetblue;
    border-radius: 5px;   
}

.flex_el_1_1, .flex_el_1_5, .flex_el_2_1, .flex_el_2_4 {
    flex-basis: 100%;
}

.flex_el_1_4, .flex_el_1_2, .flex_el_2_2 {
    flex-grow: 1;
}

.flex_el_1_3{
    flex-grow: 3;
}

.flex_el_2_3 {
    flex-grow: 2;
}

.flex-container0{
    background: antiquewhite;        
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-container_header, .flex-container_content, .flex-container_footer {
    
    background: antiquewhite;        
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-element1{
    color: darkblue;
    padding: 15px;
    background: cadetblue;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
  
}
.flex_element_1_1{
    width: 25%;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex_element_1_2{
    width: 50%;
    justify-content: center;
    align-items: center;
}

.flex_element_1_3{
    width: 25%;
    justify-content: flex-end;
    align-items: flex-start;
}

.flex_element_2_1, .flex_element_2_2{
    color: darkblue;
    padding: 15px;
    background: cadetblue;
    border: 1px solid white;
    border-radius: 5px;
}

.flex_element_2_1 {
    width: 25%;    
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flex_element_2_2 {
    width: 75%;
}

.flex_element_3_1{
    width: 33.33333%;
    justify-content: flex-start;
}

.flex_element_3_2{
    width: 33.33333%;
    justify-content: flex-start;
}

.flex_element_3_3{
    width: 33.33333%;
    justify-content: flex-start;
}

p, h4{
    color: white;
}

h1, h2{
    color: darkslategray;
}


@media (max-width:920px){
    .flex-container_header{
        order: -1;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .flex_element_1_2{
        order: -1;
        width: 100%;
        justify-content: center;
    }
    .flex_element_1_1{
        order: 0;
        width: 100%;
        justify-content: center;
    }
    .flex_element_1_3{
        order: 1;
        width: 100%;
        justify-content: center;
    }
    .flex-container_content{
        order: 0;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .flex_element_2_2 {
        order: -1;
        width: 100%;
}
    .flex_element_2_1 {
        order: 1;
        width: 100%;
        flex-direction: row;        
}
    .flex_element_2_1_1{
        width: 50%;
    }
    .flex-container_footer{
        order: 1;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .flex_element_3_1, .flex_element_3_2, .flex_element_3_3 {
        width: 100%;
}    
    }































