body{
    margin: 0;
    background: grey;
    padding: 2% 5%;
    font: 14px Arial;
}

*{
    box-sizing: border-box;
}

h2{
    color: red;
    
}

.flex-container{
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    margin: 45px auto;
}

.flex-element{
    color: aqua;
    padding: 15px;
    margin: 5px;
    background: #2296b2;
    border-radius: 5px;
}

